* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --dark: #36454f;
    --light: #cfcfcf;
    --cobalt: #0047ab;
}

body {
    background: linear-gradient(45deg,  var(--cobalt) 40%, var(--light));
    height: 100vh;
    margin: 0;
}
header {
    height: 100px;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    margin: 0;
}

.content {
    display: flex;

    width: 83%;
    background-color: var(--light);
    margin: 20vh 10% 20vh 15%;
    padding: 20px 20px 20px 20px;
}

header h1 {
    font-size:50px;
    margin: auto 2vw;
    width: 50%;
    min-width: 300px;
}

.navigation {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: flex-end;
}

.box {
    display: flex;
    color: var(--dark);
}

.box h2 {
    font-size: 2rem;
}

.vl {
    border-left: 6px solid var(--dark);
    height: 100%;
    margin-left: 20px;
    margin-right: 20px; 
  }

  .blurb {
    font-size: 1.3rem;
  }

  #personal-photo {
    width: 35vh;
    height: auto;
  }